useDynLib(MRMOSS, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(loglikelihood_cpp)
export(MRMOSS_PX_cpp)
export(mrmoss_batch_format_manifest)
export(mrmoss_clump_data)
export(mrmoss_estimate_outcome_correlation)
export(mrmoss_format_trait)
export(mrmoss_harmonize_data)
export(mrmoss_load_formatted_traits)
export(mrmoss_profiles)
export(mrmoss_read_manifest)
export(mrmoss_run_analysis)
export(mrmoss_run_profile)
