useDynLib(MRMOSS, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(mrmoss_batch_format_manifest)
export(mrmoss_check_formatted_inputs)
export(mrmoss_clump_data)
export(mrmoss_estimate_outcome_correlation)
export(mrmoss_example_formatted_data)
export(mrmoss_format_trait)
export(mrmoss_harmonize_data)
export(mrmoss_input)
export(mrmoss_load_formatted_traits)
export(mrmoss)
export(mrmoss_profiles)
export(mrmoss_read_manifest)
export(mrmoss_run_analysis)
export(mrmoss_run_profile)
